:root {
    --color-0: #ffffff;
    --color-1: #111111;
    --color-2: #000000;
    --color-p1: #FEB900;
    --color-p2: #3769E8;
}

.color-0 {
    color: var(--color-0);
}

.color-1 {
    color: var(--color-1);
}

.color-2 {
    color: var(--color-2);
}

.color-p1 {
    color: var(--color-p1);
}

.color-p2 {
    color: var(--color-p2);
}